<script setup lang="ts">
import { onMounted, ref } from 'vue'

import 'xterm/css/xterm.css'
import FlexScroll from '../../shared/FlexScroll.vue'
import { oneDark } from './themes'

function XT() {
  return import('xterm')
}

const terminalElm = ref()

onMounted(async() => {
  const { Terminal } = await XT()
  const terminal = new Terminal({ theme: oneDark })

  if (!terminalElm.value) return
  terminal.open(terminalElm.value)
  terminal.write('This terminal has nothing')
})
</script>

<template>
  <FlexScroll horizontal vertical>
    <div ref="terminalElm" />
  </FlexScroll>
</template>
