<script setup lang="ts">
import { onMounted } from 'vue'
import { Button, Header } from '../../components'
import { useUser } from '../../composables'

const user = useUser()
onMounted(async() => {
  await user.whoAmI()
})
</script>

<template>
  <div class="flex flex-col h-screen bg-background-50 dark:bg-background-900">
    <Header :signed-in="user.signedIn" />

    <section class="container mx-auto">
      <div class="grid grid-cols-1 gap-4 mt-20 mx-3">
        <h1 class="text-6xl lg:text-7xl font-display font-semibold text-background-900 dark:text-background-50">
          Code
          <br>
          Collaborate
          <br>
          Create
        </h1>

        <p class="text-lg md:text-xl font-body text-background-700 dark:text-background-200">
          Seamless productivity
        </p>

        <div>
          <Button href="/login">
            Get started
          </Button>
        </div>
      </div>
    </section>
  </div>
</template>

<style>
</style>
