<script setup lang="ts">
import { onBeforeMount, reactive, watch } from 'vue'
import { useUser } from '../../composables'

import { Button, Header, Input } from '../../components'

const form = reactive({
  email: '',
  password: '',

  error: '',
  loading: false,
})

const user = useUser()

onBeforeMount(async() => {
  await user.whoAmI()
})

watch([() => form.email, () => form.password], () => {
  if (form.error)
    form.error = ''
})

async function login() {
  form.loading = true
  const { error } = await user.login(form.email, form.password)
  form.loading = false

  if (error)
    form.error = error.message
}
</script>

<template>
  <div class="flex flex-col h-screen bg-background-50 dark:bg-background-900">
    <Header />

    <div class="mb-30 px-3 flex flex-col flex-1 container mx-auto justify-center items-start">
      <h1 class="text-5xl font-display font-semibold text-background-900 dark:text-background-50">
        Login
      </h1>

      <form class="mt-6 flex gap-5 flex-col items-start" @submit.prevent="login()">
        <Input v-model="form.email" type="email" label="Email" placeholder="Email" />
        <Input v-model="form.password" type="password" label="Password" placeholder="Password" />
        <Button type="submit" :loading="form.loading">
          Login
        </Button>
        <p v-if="form.error" class="text-red-500 font-body">
          {{ form.error }}
        </p>
      </form>

      <transition name="pl">
        <div
          v-if="user.signedIn"
          :class="[
            'mt-5 bg-background-100 dark:bg-background-800 border border-background-300 rounded-lg shadow-lg duration-200 p-3',
          ]"
        >
          <h3 class="text-lg font-display font-semibold text-background-900 dark:text-background-50">
            Previous sign in:
          </h3>

          <span class="text-sm font-body text-background-900 dark:text-background-50">
            {{ user.email }}
          </span>

          <Button class="mt-4" size="sm" variant="secondary" @click="$router.push('/')">
            Continue ->
          </Button>
        </div>
      </transition>
    </div>
  </div>
</template>

<style scoped>
.pl-enter-active,
.pl-leave-active {
  transition: all 0.5s ease;
}

.pl-enter-from,
.pl-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>
