<template>
  <div class="flex flex-col h-screen bg-background-50 dark:bg-background-900">
    <Header />

    <Error title="Not found" variant="blue" />
  </div>
</template>

<script setup lang="ts">
import { Header } from '../../components'
import Error from '../../components/shared/Error.vue'
</script>

<style scoped>

</style>
