<script setup lang="ts">
const props = defineProps<{
  items: {
    title: string
    href?: string
  }[]
}>()
</script>

<template>
  <span class="text-base font-body text-background-700 dark:text-background-400 mt-2">
    <router-link v-for="{title, href} in props.items" :key="href" :to="href">
      <span
        class="hover:(text-secondary-600) duration-100"
      >
        {{ title }}
      </span>
      <span> / </span>
    </router-link>
  </span>
</template>
