<script setup lang="ts">
const emit = defineEmits(['update:modelValue'])

const props = defineProps<{
  modelValue?: boolean

  label?: string
  placeholder?: string
}>()

function checkboxChange(event: Event) {
  emit('update:modelValue', (event.target as HTMLInputElement).checked)
}
</script>

<template>
  <label
    class="flex justify-between items-center text-sm font-body font-medium text-background-900 dark:text-background-300 relative"
  >
    {{ props.label }}

    <div class="relative">
      <input
        type="checkbox"
        class="sr-only"

        :checked="props.modelValue"
        @change="checkboxChange"
      >
      <div
        :class="[
          `w-13 h-7 rounded-full`,
          'checkbox',
          props.modelValue ? 'after:(transform translate-x-full duration-100) bg-secondary-600 dark:bg-secondary-600' : 'bg-background-400 dark:(bg-background-800)'
        ]"
      />
    </div>
  </label>
</template>

<style scoped lang="scss">
.checkbox::after {
  @apply absolute top-0.5 left-0.5 bg-white rounded-full w-6 h-6 transition shadow-sm content-[''];
}
</style>
