<script setup lang="ts">
import { computed } from 'vue'

const props = withDefaults(defineProps<{
  title: string
  description?: string
  variant?: 'primary' | 'blue'
}>(), {
  variant: 'primary',
})

const containerClass = computed(() => (
  {
    primary: 'bg-primary-900',
    blue: 'bg-blue-900',
  }[props.variant]
))
</script>

<template>
  <div v-if="props.title" :class="['flex-1 rounded-lg px-5 py-10 lg:(px-10 py-20) ', containerClass]">
    <span class="text-base font-body text-background-50">
      <span class="text-5xl md:text-7xl lg:text-10xl">
        :(
      </span>
      <br>
      <br>
      <span class="text-xl font-semibold">
        {{ props.title }}
      </span>
      <br>
      <span class="text-sm font-code">
        {{ props.description }}
      </span>
    </span>
  </div>
</template>
