<script setup lang="ts">
const props = defineProps<{
  vertical?: boolean
  horizontal?: boolean
}>()
</script>

<template>
  <div class="flex-1 relative">
    <div
      :class="[
        'flex flex-col absolute top-0 left-0 right-0 bottom-0 pr-1 overflow-hidden',
        props.vertical && 'overflow-y-scroll',
        props.horizontal && 'overflow-x-scroll'
      ]"
    >
      <slot />
    </div>
  </div>
</template>

<style scoped>
</style>
