<script setup lang="ts">
import { onClickOutside } from '@vueuse/core'
import { ref } from 'vue'

const emit = defineEmits(['close'])
const props = defineProps<{
  visible?: boolean
}>()

const target = ref()

onClickOutside(target, () => {
  emit('close')
})
</script>

<template>
  <Teleport to="body">
    <Transition>
      <div
        v-if="props.visible"
        class="z-100 flex justify-center items-center w-screen h-screen bg-background-500 bg-opacity-75 dark:(bg-background-900 bg-opacity-75) absolute top-0 left-0 right-0"
      >
        <div ref="target" class="bg-background-200 dark:bg-background-700 rounded-lg p-4">
          <slot />
        </div>
      </div>
    </Transition>
  </Teleport>
</template>

<style scoped>
.v-leave-active,
.v-enter-active {
  transition: all 0.05s ease-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
