<script setup lang="ts">
import type { Ref } from 'vue'
import { computed, onMounted, reactive, ref, watch } from 'vue'

const props = withDefaults(defineProps<{
  size: number // in %
  minSize?: number // in px
  maxSize?: number // in px
  // If fixed, the pane dimensions will remain the same when window is resized
  fixed?: boolean
  vertical?: boolean
  gutterSize?: number
  // When gutter is dragged within snap proximity, it snaps to the min/max size
  snapSize?: number
  // When reversed, before and after are swapped
  reverse?: boolean
}>(), {
  minSize: 0,
  gutterSize: 10,
  vertical: false,
  snapSize: 30,
  reverse: false,
})

const elms: Record<string, Ref<HTMLDivElement | undefined>> = {
  container: ref(),
  before: ref(),
  after: ref(),
}

const state = reactive({
  /**
   * Size is a value either in (px) or (%),
   * depending on whether the split is fixed
   */
  size: -1,
  dragging: false,
})

const cursor = computed(() => props.vertical ? 'row-resize' : 'col-resize')
const flexDirection = computed(() => {
  if (props.vertical) {
    if (props.reverse)
      return 'flex-col-reverse'
    return 'flex-col'
  }
  else {
    if (props.reverse)
      return 'flex-row-reverse'
    return 'flex-row'
  }
})
const pane = computed(() => props.reverse ? 'after' : 'before')
const unit = computed(() => props.fixed ? 'px' : '%')
const styles = computed(() => ({
  [pane.value]: { 'flex-basis': state.size + unit.value },
}))

onMounted(() => {
  if (!elms.container.value) return

  const containerSize = props.vertical
    ? elms.container.value.offsetHeight
    : elms.container.value.offsetWidth

  const maxSize = props.maxSize ?? containerSize

  const proposedPx = props.size / 100 * containerSize
  if (proposedPx > maxSize)
    state.size = props.fixed ? maxSize : maxSize / containerSize * 100
  else if (proposedPx < props.minSize)
    state.size = props.fixed ? props.minSize : props.minSize / containerSize * 100
  else
    state.size = props.fixed ? proposedPx : props.size
})

watch(() => props.fixed, (value) => {
  if (!elms.container.value) return

  const containerSize = props.vertical
    ? elms.container.value.offsetHeight
    : elms.container.value.offsetWidth
  // Convert size to px/%
  state.size = value ? state.size / 100 * containerSize : state.size / containerSize * 100
})

let startPosition = 0
let startSize = 0
let size = 0

function set(s: number) {
  if (!elms.before.value || !elms.after.value) return

  if (pane.value === 'before') // Uh... Typescript will scream at me if I write elms[pane.value] so...
    elms.before.value.style.flexBasis = s + unit.value
  else
    elms.after.value.style.flexBasis = s + unit.value

  size = s
}

function down({
  pageY,
  pageX,
}: { pageY: number; pageX: number }) {
  state.dragging = true
  startPosition = props.vertical ? pageY : pageX
  startSize = state.size
  size = state.size
}

function touchDown(e: TouchEvent) {
  return down({
    pageY: e.targetTouches[0].pageY,
    pageX: e.targetTouches[0].pageX,
  })
}

function up() {
  if (!state.dragging) return
  if (state.size !== size) state.size = size

  state.dragging = false
  startPosition = 0
  startSize = 0
}

function move({
  pageY,
  pageX,
}: { pageY: number; pageX: number }) {
  if (!state.dragging || !elms.container.value) return

  const containerSize = props.vertical
    ? elms.container.value.offsetHeight
    : elms.container.value.offsetWidth
  const maxSize = props.maxSize ?? containerSize

  const position = props.vertical ? pageY : pageX
  const diff = position - startPosition

  // Slightly inefficient, hmm
  const proposedSize = props.fixed ? startSize + diff : (startSize + ((diff / containerSize) * 100))
  const proposedPx = props.fixed ? proposedSize : (proposedSize / 100 * containerSize)

  if (proposedPx + props.snapSize > maxSize)
    set(props.fixed ? maxSize : maxSize / containerSize * 100)
  else if (proposedPx - props.snapSize < props.minSize)
    set(props.fixed ? props.minSize : props.minSize / containerSize * 100)
  else
    set(props.fixed ? proposedPx : proposedSize)
}

function touchMove(e: TouchEvent) {
  if (!state.dragging) return
  e.preventDefault()
  move({
    pageY: e.targetTouches[0].pageY,
    pageX: e.targetTouches[0].pageX,
  })
}

function gutterDblClick() {
  set(props.minSize)
  up()
}
</script>

<template>
  <div
    :ref="elms.container"
    :class="[
      'flex-1 relative',
      state.dragging && 'cursor-resize'
    ]"

    @mouseup="up"
    @mouseleave="up"
    @touchend="up"
    @touchcancel="up"

    @mousemove="move"
    @touchmove="touchMove"
  >
    <div
      :class="[
        flexDirection,
        'flex absolute top-0 left-0 right-0 bottom-0 overflow-hidden',
      ]"
    >
      <div
        :ref="elms.before" :style="styles.before"
        :class="['flex overflow-hidden', state.dragging && 'dragging', props.reverse && 'flex-1']"
      >
        <slot name="before" />
      </div>

      <div
        :style="{'flex-basis': `${props.gutterSize}px`}"
        class="cursor-resize font-code group flex items-center justify-center"

        @mousedown.prevent="down"
        @touchstart.prevent="touchDown"

        @dblclick="gutterDblClick"
      >
        <div
          :class="[
            props.vertical ? 'w-10 h-[2px]' : 'w-[2px] h-10',
            'bg-background-200 dark:bg-background-700 group-hover:(bg-background-400 dark:bg-background-500 transform scale-110) duration-100 rounded-lg'
          ]"
        />
      </div>

      <div
        :ref="elms.after" :style="styles.after"
        :class="['flex overflow-hidden', state.dragging && 'dragging', !props.reverse && 'flex-1']"
      >
        <slot name="after" />
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.cursor-resize {
  cursor: v-bind('cursor');
}

.dragging {
  @apply select-none pointer-events-none
}
</style>
