<script setup lang="ts">
const emit = defineEmits(['update:modelValue'])

const props = defineProps<{
  modelValue?: string

  label?: string
  placeholder?: string
}>()

const inputClasses = [
  'p-3 mt-2 md:w-75 lg:w-100 bg-background-100 border-background-300 text-background-900 text-base rounded-lg outline-0 block border',
  'focus:(ring-2 ring-secondary-300 border-secondary-500)',
  'dark:(bg-background-700 border-background-600 placeholder-background-400 text-background-50)',
]

function inputChange(event: Event) {
  emit('update:modelValue', (event.target as HTMLInputElement).value)
}
</script>

<template>
  <label
    class="block text-sm font-body font-medium text-background-900 dark:text-background-300"
  >
    {{ props.label }}
    <textarea
      v-bind="$attrs"

      :value="props.modelValue"
      :placeholder="props.placeholder"

      :class="inputClasses"

      @input="inputChange"
    />
  </label>
</template>

<style scoped>

</style>
