<script setup lang="ts">
import { computed, reactive } from 'vue'

import { useEditor, useUser } from '../../composables'
import ThemeSwitcher from '../shared/ThemeSwitcher.vue'
import EditProjectDetailsModal from './EditProjectDetailsModal.vue'

const user = useUser()
const editor = useEditor()

const state = reactive({
  editProjectModalVisible: false,
})

const link = computed(() => {
  return user.signedIn ? '/projects' : '/about'
})
</script>

<template>
  <EditProjectDetailsModal
    v-if="editor.project.id"
    :name="editor.project.name"
    :visible="state.editProjectModalVisible"
    @close="state.editProjectModalVisible = false"
  />
  <div
    class="h-14 flex item-center px-3 py-2 border-b-[1px] bg-background-50 border-background-200 dark:(bg-background-900 border-background-700)"
  >
    <div class="flex items-center">
      <router-link :to="link">
        <img alt="CodeCollab" src="../../assets/logo.png" class="h-8">
      </router-link>

      <Transition name="project-name">
        <div
          v-if="editor.project.id"
          class="ml-2 py-1 px-3 rounded-lg cursor-pointer duration-100 border-1 border-transparent hover:(border-background-300 dark:border-background-600 bg-background-200 dark:bg-background-800)"
          @click="state.editProjectModalVisible = true"
        >
          <span
            class="font-display font-semibold text-lg text-background-700 dark:text-background-200 select-none"
          >
            {{ editor.project.name }}
          </span>
        </div>
      </Transition>
    </div>

    <div class="flex items-center ml-auto gap-2">
      <TransitionGroup name="list" tag="div" class="flex flex-row-reverse items-center gap-2">
        <div
          v-for="({name, profilePic}, socketId) in editor.collaborators"
          :key="socketId"
          :title="name"
          class="flex items-center justify-center w-8 h-8 rounded-md duration-100 bg-primary-700 dark:bg-primary-900 overflow-hidden"
        >
          <img
            v-if="profilePic" :alt="name" :src="profilePic"
            class="w-full h-full fill object-fill object-center"
          >
          <span v-else class="font-body text-background-50 dark:text-background-200 select-none">
            {{ name[0] }}
          </span>
        </div>
      </TransitionGroup>

      <ThemeSwitcher />
    </div>
  </div>
</template>

<style scoped>
.project-name-leave-active,
.project-name-enter-active {
  transition: all 0.5s ease-out;
}

.project-name-enter-from,
.project-name-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease-out;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(1px);
}

.list-leave-active {
  position: absolute;
}
</style>
