<script setup lang="ts">
import { reactive, ref } from 'vue'
import { useRouter } from 'vue-router'
import { Button, Input, Modal, useToast } from '../shared'
import { useEditor } from '../../composables'

const emit = defineEmits(['close'])
const props = defineProps<{
  visible: boolean
  name: string
}>()

const toast = useToast()
const router = useRouter()
const editor = useEditor()

const loading = ref(false)
const form = reactive({
  name: props.name,
})

async function submit() {
  loading.value = true
  const { error } = await editor.renameCurrentProject(form.name)
  if (error) {
    toast({
      type: 'error',
      title: 'Rename',
      description: error.message,
    })
  }
  else {
    const { ownerName } = router.currentRoute.value.params
    await router.push(`/@${ownerName}/${form.name}${router.currentRoute.value.hash}`)
  }
  loading.value = false
  close()
}

function close() {
  if (loading.value) return
  emit('close')
}
</script>

<template>
  <Modal :visible="props.visible" @close="close">
    <h1 class="font-semibold font-display font-semibold text-2xl text-background-900 dark:text-background-50">
      Edit project
    </h1>

    <form class="flex flex-col items-end mt-6 gap-4" @submit.prevent="submit">
      <Input v-model="form.name" label="Name" />
      <Button :loading="loading" size="sm" type="submit">
        Save
      </Button>
    </form>
  </Modal>
</template>
