<script setup lang="ts">
import { computed } from 'vue'
import ThemeSwitcher from '../shared/ThemeSwitcher.vue'
import Button from '../shared/Button.vue'

const props = defineProps<{
  signedIn?: boolean
}>()

const items = computed(() => ({
  'Home': '/about',
  'About us': '/about-us',
  'Contact us': '/contact',
  [props.signedIn ? 'Dashboard' : 'Login']: props.signedIn ? '/' : '/login',
}))
</script>

<template>
  <div
    class="px-3 py-2 container mx-auto border-b-[1px] bg-background-50 border-background-200 dark:(bg-background-900 border-background-700)"
  >
    <div class="flex items-center justify-between">
      <router-link
        to="/about"
        class="text-lg font-semibold font-display text-background-900 dark:text-background-50"
      >
        CodeCollab
      </router-link>

      <div class="flex items-center">
        <Button
          v-for="(value, key) in items"
          :key="key"
          variant="ghost"
          :href="value"
          class="hidden md:inline-block"
        >
          {{ key }}
        </Button>

        <ThemeSwitcher />
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
