<script setup lang="ts">
import { computed, reactive, ref } from 'vue'

import { useRouter } from 'vue-router'
import type { Regions } from '../../config'
import { langs, regions } from '../../config'
import { useProject, useUser } from '../../composables'
import { Button, Checkbox, Input, Modal, Textarea, useToast } from '../shared'

const props = defineProps<{
  visible: boolean
  path: string
}>()
const emit = defineEmits(['close'])

const toast = useToast()
const project = useProject()
const user = useUser()
const router = useRouter()

const loading = ref(false)

const DEFAULT_FORM: {
  lang: string
  name: string
  description: string
  region: Regions
  private: boolean
} = {
  lang: langs[0].name,
  name: '',
  description: '',
  region: regions[0],
  private: false,
}

const form = reactive({ ...DEFAULT_FORM })

const langOptions = computed(() => langs.map(l => l.name))

async function submit() {
  loading.value = true
  const langIdx = langs.findIndex(l => l.name === form.lang)
  const { error } = await project.createProject(props.path, form.name, form.description, langIdx, form.region)
  if (error) {
    toast({
      type: 'error',
      title: 'Create project',
      description: error.message,
    })
  }
  else {
    await router.push(`/@${user.uname}/${form.name}`)
  }
  loading.value = false
}

function close() {
  if (loading.value) return
  Object.assign(form, DEFAULT_FORM)
  emit('close')
}
</script>

<template>
  <Modal :visible="props.visible" @close="close">
    <h1 class="font-semibold font-display font-semibold text-2xl text-background-900 dark:text-background-50">
      New project
    </h1>

    <form class="mt-6" @submit.prevent="submit">
      <Input
        v-model="form.lang"

        label="Language"
        :options="langOptions"
      />
      <br>
      <Input v-model="form.name" label="Name" placeholder="Fizzbuzz" />
      <br>
      <Textarea v-model="form.description" label="Description" placeholder="I can code?" />
      <br>
      <Input
        v-model="form.region"

        label="Region"
        :options="regions"
      />
      <br>
      <Checkbox v-model="form.private" label="Private" />
      <br>
      <Button type="submit" variant="secondary" size="sm" class="ml-auto" :loading="loading">
        Create
      </Button>
    </form>
  </Modal>
</template>
