<script setup lang="ts">
import { ref } from 'vue'
import { onClickOutside } from '@vueuse/core'

import { contextMenuModel } from './context-menu'

const open = ref(false)
const contextElm = ref()

onClickOutside(contextElm, () => {
  open.value = false
})
</script>

<template>
  <div class="relative flex flex-col items-end">
    <span :class="['px-2 rounded-md group-hover:opacity-100', !open && 'opacity-0']" @click="open = !open">⁝</span>

    <Transition>
      <div
        v-if="open"
        ref="contextElm"
        class="absolute p-1 w-40 shadow-md rounded-md z-100 bg-white dark:bg-background-900 divide-y divide-background-200 dark:divide-background-800"
      >
        <div v-for="(group, idx) in contextMenuModel" :key="idx">
          <div
            v-for="(item, idx2) in group.items"
            :key="idx2"
            :class="[
              'p-2 rounded-md duration-100',
              item.textColor,
              item.hoverColor ?? 'hover:(bg-background-200 dark:bg-background-800)',
            ]"
            @click="$emit(item.emit, $event); open = false"
          >
            {{ item.label }}
          </div>
        </div>
      </div>
    </Transition>
  </div>
</template>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: all 0.1s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}
</style>
