<script setup lang="ts">
import { computed, defineAsyncComponent, nextTick, reactive, ref } from 'vue'
import { onClickOutside } from '@vueuse/core'

import { useEditor } from '../../../composables'

import { langs } from '../../../config'
import { useToast } from '../../shared'

const ContextMenu = defineAsyncComponent(() => import('./ContextMenu.vue'))

interface _FileOrFolder {
  name: string
  isFolder: boolean
  children: Record<string, _FileOrFolder>
}

const props = defineProps<{
  item: _FileOrFolder
  id: string | number
}>()

const toast = useToast()
const editor = useEditor()

const inputElm = ref<HTMLInputElement>()
const state = reactive({
  open: false,
  editing: false,
  inputValue: props.item.name,
})

const iconUrl = computed(() => {
  const ext = state.inputValue.split('.').pop() ?? ''
  const { img } = langs.find(l => l.ext.includes(ext)) ?? {}

  return getImageSrc(img)
})

// Cancel rename
onClickOutside(inputElm, () => {
  state.editing = false
  state.inputValue = props.item.name
})

async function submitRename() {
  state.editing = false
  const { error } = await editor.renameFile(props.id.toString(), state.inputValue)
  if (error) {
    toast({
      type: 'error',
      title: 'Rename',
      description: error.message,
    })
  }
  state.inputValue = props.item.name
}

function click() {
  if (props.item.isFolder && !state.editing)
    state.open = !state.open
  else if (!props.item.isFolder)
    editor.openFile(props.id.toString())
}

function getImageSrc(name?: string) {
  return new URL(`../../../assets/langs/${name ?? 'unknown.svg'}`, import.meta.url).href
}

async function contextRename() {
  state.editing = true
  await nextTick(() => {
    inputElm.value?.focus()
    inputElm.value?.select()
  })
}

function contextDelete() {
}

function dragStart(e: DragEvent) {
  if (!e.dataTransfer) return
  editor.dragging = true
  e.dataTransfer.setData('text', props.id.toString())
}

function dragEnd() {
  editor.dragging = false
}
</script>

<template>
  <div
    draggable="true"
    :class="[
      'flex items-center justify-between select-none rounded-md group duration-100',
      'font-body text-background-800 dark:text-background-200',
      'hover:(bg-background-200 dark:bg-background-700)',
    ]"
    @dragstart="dragStart"
    @dragend="dragEnd"
  >
    <div
      :title="props.item.name"
      class="flex flex-1 items-center px-2 py-1 gap-2 overflow-hidden"

      @click="click"
    >
      <div
        v-if="props.item.isFolder"
        class="text-background-800 dark:text-background-200 w-4 h-4 min-w-4 min-h-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true" role="img" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
        >
          <path
            v-if="state.open" fill="currentColor"
            d="M22.78 10.37A1 1 0 0 0 22 10h-2V9a3 3 0 0 0-3-3h-6.28l-.32-1a3 3 0 0 0-2.84-2H4a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14.4a3 3 0 0 0 2.92-2.35L23 11.22a1 1 0 0 0-.22-.85ZM5.37 18.22a1 1 0 0 1-1 .78H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h3.56a1 1 0 0 1 1 .68l.54 1.64A1 1 0 0 0 10 8h7a1 1 0 0 1 1 1v1H8a1 1 0 0 0-1 .78Zm14 0a1 1 0 0 1-1 .78H7.21a1.42 1.42 0 0 0 .11-.35L8.8 12h12Z"
          />
          <path
            v-else fill="currentColor"
            d="M19 5.5h-6.28l-.32-1a3 3 0 0 0-2.84-2H5a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-10a3 3 0 0 0-3-3Zm1 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-13a1 1 0 0 1 1-1h4.56a1 1 0 0 1 .95.68l.54 1.64a1 1 0 0 0 .95.68h7a1 1 0 0 1 1 1Z"
          />
        </svg>
      </div>
      <img v-else :src="iconUrl" :alt="props.item.name" class="w-4 h-4">

      <input
        v-if="state.editing"
        ref="inputElm"
        v-model="state.inputValue"
        class="w-full bg-transparent outline-none"
        type="text"

        @keydown.enter="submitRename"
        @keydown.esc="state.editing = false"
      >
      <span v-else class="truncate">
        {{ props.item.name }}
      </span>
    </div>

    <ContextMenu
      @rename="contextRename"
      @delete="contextDelete"
    />
  </div>

  <div v-if="state.open" class="pl-3">
    <FileOrFolder v-for="(item2, id2) in props.item.children" :id="id2" :key="id2" :item="item2" />
  </div>
</template>
