<script setup lang="ts">
import { computed, reactive, watchEffect } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import { Button, NewProjectModal } from '../../../components'

import { langs } from '../../../config'
import { useProject, useUser } from '../../../composables'
import { Breadcrumb, FlexScroll } from '../../../components/shared'
import Error from '../../../components/shared/Error.vue'

const route = useRoute()
const router = useRouter()
const user = useUser()
const project = useProject()

const state = reactive({
  newProjectModalVisible: false,
})

const path = computed(() => {
  if (typeof route.params.pathMatch === 'object')
    return `/app/folders/${route.params.pathMatch.join('/')}`

  return '/app/'
})
const breadcrumbItems = computed(() => {
  if (typeof route.params.pathMatch === 'object') {
    return [{
      title: '/ app',
      href: '/projects',
    }, ...route.params.pathMatch.map((title, idx) => ({
      title,
      href: `/projects/${(route.params.pathMatch.slice(0, idx + 1) as string[]).join('/')}`,
    }))]
  }
  return [{
    title: '/ app',
    href: '/projects',
  }]
})
const isEmpty = computed(() => {
  return typeof project.projects(path.value) === 'object'
    && Object.keys(project.projects(path.value)).length === 0
    && typeof project.folders(path.value) === 'object'
    && Object.keys(project.folders(path.value)).length === 0
})

watchEffect(async() => {
  await project.fetch(path.value)
})

function getImageSrc(name: string) {
  return new URL(`../../../assets/langs/${name}`, import.meta.url).href
}

async function folderClick(name: string) {
  await router.push(`${route.fullPath}/${name}`)
}

async function projectClick(name: string) {
  await router.push(`/@${user.uname}/${name}`)
}
</script>

<template>
  <NewProjectModal
    :visible="state.newProjectModalVisible"
    :path="path"
    @close="state.newProjectModalVisible = false"
  />

  <div class="flex flex-col items-start md:(flex-row justify-between)">
    <h1 class="text-3xl font-display font-semibold text-background-900 dark:text-background-50">
      Projects
    </h1>
    <Button size="sm" variant="secondary" class="mt-2 md:m-0" @click="state.newProjectModalVisible = true">
      New project
    </Button>
  </div>

  <Breadcrumb :items="breadcrumbItems" />

  <div v-if="project.projects(path) === undefined" class="mt-10">
    <span class="text-base font-semibold font-body text-background-900 dark:text-background-400">
      Loading...
    </span>
  </div>

  <Error
    v-else-if="isEmpty" class="mt-10" title="There's nothing here"
    description="You can search for the error online: ERR_NOT_FOUND" variant="blue"
  />

  <FlexScroll v-else vertical class="mt-6">
    <span class="font-body font-semibold my-2 text-background-900 dark:text-background-300">Folders</span>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
      <div
        v-for="(name, key) in project.folders(path)"
        :key="key"
        class="p-3 mb-3 md:grid-cols-5 rounded-md duration-100 bg-background-100 dark:bg-background-800 cursor-pointer hover:(bg-background-200 dark:bg-background-700)"
        @click="folderClick(name)"
      >
        <div class="flex items-center md:col-span-3 text-background-900 dark:text-background-50">
          <svg
            class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            role="img" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"
          >
            <path
              fill="currentColor"
              d="m11.17 6l3.42 3.41l.58.59H28v16H4V6h7.17m0-2H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2H16l-3.41-3.41A2 2 0 0 0 11.17 4Z"
            />
          </svg>
          <span
            class="text-lg font-semibold font-body md:col-span-3 truncate pr-5"
          >
            {{ name }}
          </span>
        </div>
      </div>
    </div>

    <span class="font-body font-semibold my-2 text-background-900 dark:text-background-300">Projects</span>
    <div
      v-for="(item, key) in project.projects(path)"
      :key="key"
      class="p-3 mb-3 grid grid-cols-1 md:grid-cols-5 rounded-md duration-100 bg-background-100 dark:bg-background-800 cursor-pointer hover:(bg-background-200 dark:bg-background-700)"
      @click="projectClick(item.name)"
    >
      <div class="flex items-center md:col-span-3">
        <img :src="getImageSrc(langs[item.lang].img)" class="w-5 h-5 mr-2" :alt="langs[item.lang].name">
        <span
          class="text-lg font-semibold font-body text-background-900 dark:text-background-50 truncate pr-5"
        >
          {{ item.name }}
        </span>
      </div>

      <p class="text-base font-body text-background-700 dark:text-background-200 self-center">
        {{ langs[item.lang].name }}
      </p>

      <p class="text-base font-body text-background-700 dark:text-background-200">
        {{ item.country }}
      </p>
    </div>
  </FlexScroll>
</template>
