<template>
  <h1 class="text-3xl font-display font-semibold text-background-900 dark:text-background-50">
    Settings
  </h1>
</template>

<script setup lang="ts">
</script>

<style scoped>

</style>
