<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUnmounted, reactive, watch } from 'vue'
import { useRoute } from 'vue-router'

import { useRouteHash } from '@vueuse/router'
import { computedEager, useTitle, useWindowSize } from '@vueuse/core'
import { useEditor, useSocketIo, useUser } from '../../composables'
import { AppHeader, CodeMirror, Error, FileOrFolder, FlexScroll, Split, XTerm } from '../../components'

enum DragOverlayPosition {
  All,
  None,
  Top,
  Left,
  Right,
  Bottom,
}

const { width } = useWindowSize()
const socketIo = useSocketIo()
const hash = useRouteHash()
const editor = useEditor()
const title = useTitle()
const route = useRoute()
const user = useUser()

const state = reactive<{
  loading: boolean
  error: string

  dragOverlayPosition: DragOverlayPosition
}>({
  loading: true,
  error: '',
  dragOverlayPosition: DragOverlayPosition.None,
})

const dragOverlayStyles = computed(() => {
  const s: Record<string, string | number> = {
    top: 0,
    left: 0,
    width: '100%',
    height: '100%',
  }
  switch (state.dragOverlayPosition) {
    case DragOverlayPosition.Top:
      s.height = '50%'
      break
    case DragOverlayPosition.Left:
      s.width = '50%'
      break
    case DragOverlayPosition.Right:
      s.left = '50%'
      s.width = '50%'
      break
    case DragOverlayPosition.Bottom:
      s.top = '50%'
      s.height = '50%'
      break
    case DragOverlayPosition.All:
    default:
      break
  }
  return s
})
const isVertical = computedEager(() => width.value < 1000)

watch(() => editor.currentOpenFile, (value) => {
  if (!value) {
    hash.value = ''
    title.value = defaultTitle(editor.project.name)
    return
  }
  hash.value = `#${editor.filePath(value.id)}`
  title.value = openedFileTitle(editor.currentOpenFile.name, editor.project.name)
})

onBeforeMount(async() => {
  await user.whoAmI()
  user.loginOptionalGuest()
})

onMounted(async() => {
  const { error } = await editor.openProject(route.params.projectName as string, route.params.ownerName as string)
  state.loading = false
  if (error) {
    state.error = error.message
    return
  }

  if (route.hash)
    editor.openFileByPath(route.hash.substring(1, route.hash.length))

  socketIo.onConnect(() => {
    socketIo.joinProject(editor.project.id, user.dname, '', user.profilePic)
  })
  socketIo.onUserJoin((data) => {
    editor.addCollaborator(data.socketID, data.name, data.currentFile, data.profilePic)
  })
  socketIo.onUserDisconnect(editor.removeCollaborator)

  await socketIo.init(editor.project.region, false)
})

onUnmounted(() => {
  editor.closeCurrentProject()
  socketIo.close()
})

function openedFileTitle(fileName: string, projectName: string) {
  return `${fileName} - ${projectName}`
}

function defaultTitle(projectName: string) {
  return `${projectName} - CodeCollab`
}

function dragOver(e: DragEvent) {
  if (!e.currentTarget || !editor.dragging) return
  const relativeTop = e.offsetY / (e.currentTarget as HTMLDivElement).offsetHeight
  const relativeLeft = e.offsetX / (e.currentTarget as HTMLDivElement).offsetWidth

  if (relativeLeft < 0.3)
    state.dragOverlayPosition = DragOverlayPosition.Left
  else if (relativeLeft > 0.7)
    state.dragOverlayPosition = DragOverlayPosition.Right
  else if (relativeTop < 0.3)
    state.dragOverlayPosition = DragOverlayPosition.Top
  else if (relativeTop > 0.7)
    state.dragOverlayPosition = DragOverlayPosition.Bottom
  else
    state.dragOverlayPosition = DragOverlayPosition.All
}

function dragLeave() {
  state.dragOverlayPosition = DragOverlayPosition.None
}

function drop(e: DragEvent) {
  state.dragOverlayPosition = DragOverlayPosition.None
  if (!e.dataTransfer) return
  const data = e.dataTransfer.getData('text')
  editor.openFileV2(data)
}
</script>

<template>
  <div class="flex flex-col h-screen bg-background-50 dark:bg-background-900">
    <AppHeader />

    <div v-if="state.loading" class="m-10">
      <span class="text-base font-semibold font-body text-background-900 dark:text-background-400">
        Loading...
      </span>
    </div>

    <Error v-else-if="state.error" class="m-5" :title="state.error" />

    <div v-else class="flex gap-2 flex-1 p-2">
      <Split :size="20" :min-size="100" :max-size="300" fixed>
        <template #before>
          <div
            class="flex flex-1 flex-col p-2 pr-1 bg-white duration-100 rounded-lg shadow-lg border border-1 border-background-200 dark:(bg-background-800 border-0)"
          >
            <div class="flex justify-between items-center mb-2 mr-2">
              <span class="font-body font-semibold text-lg text-background-900 dark:text-background-50">
                Files
              </span>

              <div class="flex text-background-800 dark:text-background-200">
                <div role="button" class="p-1.5 rounded-md hover:(bg-background-200 dark:bg-background-900)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" role="img" class="w-5 h-5"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M14 12.5h-1v-1a1 1 0 0 0-2 0v1h-1a1 1 0 0 0 0 2h1v1a1 1 0 0 0 2 0v-1h1a1 1 0 0 0 0-2Zm5-7h-6.28l-.32-1a3 3 0 0 0-2.84-2H5a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-10a3 3 0 0 0-3-3Zm1 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-13a1 1 0 0 1 1-1h4.56a1 1 0 0 1 .95.68l.54 1.64a1 1 0 0 0 .95.68h7a1 1 0 0 1 1 1Z"
                    />
                  </svg>
                </div>

                <div role="button" class="p-1.5 rounded-md hover:(bg-background-200 dark:bg-background-900)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" role="img" class="w-5 h-5"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M20 8.94a1.31 1.31 0 0 0-.06-.27v-.09a1.07 1.07 0 0 0-.19-.28l-6-6a1.07 1.07 0 0 0-.28-.19a.32.32 0 0 0-.09 0a.88.88 0 0 0-.33-.11H7a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V8.94Zm-6-3.53L16.59 8H15a1 1 0 0 1-1-1ZM18 19a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h5v3a3 3 0 0 0 3 3h3Zm-4-5h-1v-1a1 1 0 0 0-2 0v1h-1a1 1 0 0 0 0 2h1v1a1 1 0 0 0 2 0v-1h1a1 1 0 0 0 0-2Z"
                    />
                  </svg>
                </div>
              </div>
            </div>

            <FlexScroll vertical>
              <FileOrFolder
                v-for="(item, id) in editor.files"
                :id="id"
                :key="id"
                :item="item"
              />
            </FlexScroll>
          </div>
        </template>

        <template #after>
          <Split :vertical="isVertical" :size="65">
            <template #before>
              <div class="flex flex-1">
                <div v-if="editor.openFileIndex > -1" class="flex flex-1 flex-col gap-1">
                  <div class="flex relative h-7 hidden-scrollbar">
                    <div
                      class="flex-1 flex flex-row gap-1 overflow-x-scroll absolute top-0 left-0 right-0 bottom-0"
                    >
                      <div
                        v-for="(file, idx) in editor.openFiles"
                        :key="idx"
                        draggable="true"
                        :class="[
                          'flex items-center justify-between rounded-md duration-100 border-1 border-background-200 dark:border-none',
                          'hover:(bg-white dark:bg-background-800)',
                          editor.openFileIndex === idx ? 'bg-white dark:bg-background-800' : 'bg-background-100 dark:bg-background-900',
                        ]"
                      >
                        <button
                          class="p-1 pr-2 font-body text-sm text-background-800 dark:text-background-200 whitespace-nowrap cursor-default"
                          @click="editor.openFile(file.id)"
                        >
                          {{ file.name }}
                        </button>

                        <button
                          class="mr-1 p-0.5 text-background-400 dark:text-background-500 cursor-default hover:(text-background-600 dark:text-background-300)"
                          @click="editor.closeFile(file.id)"
                        >
                          <svg
                            class="w-4 h-4" xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true" role="img" preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 32 32"
                          >
                            <path
                              fill="currentColor"
                              d="M24 9.4L22.6 8L16 14.6L9.4 8L8 9.4l6.6 6.6L8 22.6L9.4 24l6.6-6.6l6.6 6.6l1.4-1.4l-6.6-6.6L24 9.4z"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div
                    class="flex flex-1 p-2 relative border-1 rounded-lg bg-white border-background-200 dark:(bg-background-900 border-background-700)"
                    @dragleave="dragLeave"
                    @dragover.prevent="dragOver"
                    @drop="drop"
                  >
                    <CodeMirror />

                    <div
                      v-if="state.dragOverlayPosition !== DragOverlayPosition.None"
                      class="bg-primary-200 absolute opacity-25 rounded-lg duration-100 pointer-events-none"
                      :style="dragOverlayStyles"
                    />
                  </div>
                </div>

                <div v-else class="p-3">
                  <span class="font-code text-md font-semibold text-background-800 dark:text-background-200">
                    Open a file to start
                  </span>
                </div>
              </div>
            </template>

            <template #after>
              <div
                class="flex flex-col flex-1 p-2 rounded-lg shadow-lg bg-white border border-1 border-background-200 dark:(bg-background-800 border-0)"
              >
                <span
                  class="font-body font-semibold text-lg text-background-900 dark:text-background-50"
                >
                  Output
                </span>

                <XTerm />
              </div>
            </template>
          </Split>
        </template>
      </Split>
    </div>
  </div>
</template>

<style scoped lang="scss">
.hidden-scrollbar {
  ::-webkit-scrollbar {
    display: none;
  }
}
</style>
