<script setup lang="ts">
import { onBeforeMount, reactive, watch } from 'vue'
import { useRouter } from 'vue-router'

import { useUser } from '../../composables'
import { AppHeader, Split, ThemeSwitcher } from '../../components'

const router = useRouter()
const user = useUser()

const ICON_SIZE = 20

const items = [
  {
    title: 'Dashboard',
    path: '/',
    svg: `
            <svg xmlns="http://www.w3.org/2000/svg"  aria-hidden="true" role="img" width="${ICON_SIZE}" height="${ICON_SIZE}" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentFill" d="M24 21h2v5h-2zm-4-5h2v10h-2zm-9 10a5.006 5.006 0 0 1-5-5h2a3 3 0 1 0 3-3v-2a5 5 0 0 1 0 10z"></path><path fill="currentFill" d="M28 2H4a2.002 2.002 0 0 0-2 2v24a2.002 2.002 0 0 0 2 2h24a2.003 2.003 0 0 0 2-2V4a2.002 2.002 0 0 0-2-2Zm0 9H14V4h14ZM12 4v7H4V4ZM4 28V13h24l.002 15Z"></path></svg>
        `,
  },
  {
    title: 'Projects',
    path: '/projects',
    svg: `
            <svg xmlns="http://www.w3.org/2000/svg"  aria-hidden="true" role="img" width="${ICON_SIZE}" height="${ICON_SIZE}" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentFill" d="m11.17 6l3.42 3.41l.58.59H28v16H4V6h7.17m0-2H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2H16l-3.41-3.41A2 2 0 0 0 11.17 4Z"></path></svg>
        `,
  },
  {
    title: 'Settings',
    path: '/settings',
    svg: `
            <svg xmlns="http://www.w3.org/2000/svg"  aria-hidden="true" role="img" width="${ICON_SIZE}" height="${ICON_SIZE}" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentFill" d="M27 16.76v-1.53l1.92-1.68A2 2 0 0 0 29.3 11l-2.36-4a2 2 0 0 0-1.73-1a2 2 0 0 0-.64.1l-2.43.82a11.35 11.35 0 0 0-1.31-.75l-.51-2.52a2 2 0 0 0-2-1.61h-4.68a2 2 0 0 0-2 1.61l-.51 2.52a11.48 11.48 0 0 0-1.32.75l-2.38-.86A2 2 0 0 0 6.79 6a2 2 0 0 0-1.73 1L2.7 11a2 2 0 0 0 .41 2.51L5 15.24v1.53l-1.89 1.68A2 2 0 0 0 2.7 21l2.36 4a2 2 0 0 0 1.73 1a2 2 0 0 0 .64-.1l2.43-.82a11.35 11.35 0 0 0 1.31.75l.51 2.52a2 2 0 0 0 2 1.61h4.72a2 2 0 0 0 2-1.61l.51-2.52a11.48 11.48 0 0 0 1.32-.75l2.42.82a2 2 0 0 0 .64.1a2 2 0 0 0 1.73-1l2.28-4a2 2 0 0 0-.41-2.51ZM25.21 24l-3.43-1.16a8.86 8.86 0 0 1-2.71 1.57L18.36 28h-4.72l-.71-3.55a9.36 9.36 0 0 1-2.7-1.57L6.79 24l-2.36-4l2.72-2.4a8.9 8.9 0 0 1 0-3.13L4.43 12l2.36-4l3.43 1.16a8.86 8.86 0 0 1 2.71-1.57L13.64 4h4.72l.71 3.55a9.36 9.36 0 0 1 2.7 1.57L25.21 8l2.36 4l-2.72 2.4a8.9 8.9 0 0 1 0 3.13L27.57 20Z"></path><path fill="currentFill" d="M16 22a6 6 0 1 1 6-6a5.94 5.94 0 0 1-6 6Zm0-10a3.91 3.91 0 0 0-4 4a3.91 3.91 0 0 0 4 4a3.91 3.91 0 0 0 4-4a3.91 3.91 0 0 0-4-4Z"></path></svg>
        `,
  },
]

const state = reactive({
  view: router.currentRoute.value.path.includes('/projects') ? '/projects' : router.currentRoute.value.path,
  loading: true,
})

onBeforeMount(async() => {
  const { error } = await user.whoAmI()
  state.loading = false
  if (error)
    await router.push('/about')
})

watch(router.currentRoute, (value) => {
  state.view = value.path.includes('/projects') ? '/projects' : value.path
})
</script>

<template>
  <div v-if="state.loading" class="flex flex-col h-screen bg-background-50 dark:bg-background-900" />

  <div v-else class="flex flex-col h-screen bg-background-50 dark:bg-background-900">
    <AppHeader />

    <Split :size="15" :max-size="300" :min-size="74" fixed>
      <template #before>
        <div
          class="flex flex-1 flex-col py-5 px-3 justify-between"
        >
          <div class="grid grid-cols-1 gap-2">
            <div
              v-for="({title, path, svg}, idx) in items"
              :key="idx"
              :class="[
                'flex py-2 px-4 items-center cursor-pointer hover:(bg-background-300 dark:bg-background-800) rounded-lg duration-100',
                state.view === path ? 'bg-background-200 dark:bg-background-700 fill-background-900 dark:fill-background-50' : 'fill-background-600 dark:fill-background-300'
              ]"
              @click="$router.push(path)"
            >
              <div v-html="svg" />
              <span
                class="font-body truncate text-sm font-medium text-background-800 dark:text-background-200 ml-2"
              >
                {{ title }}
              </span>
            </div>
          </div>

          <ThemeSwitcher />
        </div>
      </template>

      <template #after>
        <div class="flex flex-1 flex-col p-5">
          <router-view />
        </div>
      </template>
    </Split>
  </div>
</template>
