<script setup lang="ts">
import { computed, onMounted } from 'vue'
import { useTimeoutFn } from '@vueuse/core'

const emit = defineEmits(['close'])
const props = withDefaults(defineProps<{
  title?: string
  description?: string
  type?: 'default' | 'error' | 'warning' | 'success'
}>(), {
  type: 'default',
})

onMounted(() => {
  useTimeoutFn(close, 10000)
})

function close() {
  emit('close')
}

const backgroundClasses = computed(() => {
  switch (props.type) {
    case 'default':
      return 'bg-background-100 text-background-700 dark:(bg-background-700 text-background-400)'
    case 'error':
      return 'bg-red-500 text-background-50 dark:(bg-red-700 text-background-200)'
    case 'success':
      return 'bg-green-500 text-background-50 dark:(bg-green-700 text-background-200)'
    case 'warning':
      return 'bg-yellow-500 text-background-50 dark:(bg-yellow-700 text-background-200)'
  }
  return 'bg-background-100 text-background-700 dark:(bg-background-700 text-background-400)'
})

const svgPaths = computed(() => {
  switch (props.type) {
    case 'default':
      return `
        <path fill="none" d="M16 8a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 16 8Zm4 13.875h-2.875v-8H13v2.25h1.875v5.75H12v2.25h8Z"></path><path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2Zm0 6a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 16 8Zm4 16.125h-8v-2.25h2.875v-5.75H13v-2.25h4.125v8H20Z"></path>
      `
    case 'error':
      return `
       <path fill="none" d="M9 10.555L10.555 9L23 21.444L21.444 23z"></path><path fill="currentColor" d="M16 2A13.914 13.914 0 0 0 2 16a13.914 13.914 0 0 0 14 14a13.914 13.914 0 0 0 14-14A13.914 13.914 0 0 0 16 2Zm5.445 21L9 10.556L10.556 9L23 21.445Z"></path>
      `
    case 'success':
      return `
        <path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2Zm-2 19.59l-5-5L10.59 15L14 18.41L21.41 11l1.596 1.586Z"></path><path fill="none" d="m14 21.591l-5-5L10.591 15L14 18.409L21.41 11l1.595 1.585L14 21.591z"></path>
      `
    case 'warning':
      return `
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--carbon" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="none" d="M16 26a1.5 1.5 0 1 1 1.5-1.5A1.5 1.5 0 0 1 16 26Zm-1.125-5h2.25v-9h-2.25Z"></path><path fill="currentColor" d="M16.002 6.171h-.004L4.648 27.997l.003.003h22.698l.002-.003ZM14.875 12h2.25v9h-2.25ZM16 26a1.5 1.5 0 1 1 1.5-1.5A1.5 1.5 0 0 1 16 26Z"></path><path fill="currentColor" d="M29 30H3a1 1 0 0 1-.887-1.461l13-25a1 1 0 0 1 1.774 0l13 25A1 1 0 0 1 29 30ZM4.65 28h22.7l.001-.003L16.002 6.17h-.004L4.648 27.997Z"></path></svg>
      `
  }
  return `
    <path fill="none" d="M16 8a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 16 8Zm4 13.875h-2.875v-8H13v2.25h1.875v5.75H12v2.25h8Z"></path><path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2Zm0 6a1.5 1.5 0 1 1-1.5 1.5A1.5 1.5 0 0 1 16 8Zm4 16.125h-8v-2.25h2.875v-5.75H13v-2.25h4.125v8H20Z"></path>
  `
})
</script>

<template>
  <div
    :class="[
      'flex items-center py-3 px-4 w-full rounded-lg shadow-lg',
      backgroundClasses
    ]"
    role="alert"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true" role="img"
      class="w-6 h-6 min-w-6 min-h-6" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"
      v-html="svgPaths"
    />

    <span class="mx-3 font-body">
      <span class="text-md font-semibold truncate">
        {{ props.title }}
      </span>
      <br>
      <span class="text-sm break-word">
        {{ props.description }}
      </span>
    </span>

    <button
      type="button"
      class="ml-auto p-2 rounded-lg duration-100 hover:(bg-white bg-opacity-10)"
      aria-label="close"

      @click="close"
    >
      <span class="sr-only">Close</span>
      <svg
        xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        role="img" class="w-5 h-5"
        preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"
      >
        <path
          fill="currentColor"
          d="M24 9.4L22.6 8L16 14.6L9.4 8L8 9.4l6.6 6.6L8 22.6L9.4 24l6.6-6.6l6.6 6.6l1.4-1.4l-6.6-6.6L24 9.4z"
        />
      </svg>
    </button>
  </div>
</template>
