<script setup lang="ts">
import { useToastQueue } from './useToast'
import Toast from './Toast.vue'

const { queue, close } = useToastQueue()
</script>

<template>
  <Teleport to="body">
    <TransitionGroup name="list" tag="div" class="z-50 flex flex-col gap-2 fixed bottom-5 right-5 w-xs max-w-xs">
      <Toast
        v-for="({title, description, type}, key) in queue"
        :key="key"
        :title="title"
        :description="description"
        :type="type"

        @close="close(key)"
      />
    </TransitionGroup>
  </Teleport>

  <slot />
</template>

<style scoped>
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease-out;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.list-leave-active {
  position: absolute;
}
</style>
