::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-background-200 dark:bg-background-700 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-background-300 dark:bg-background-600;
}
